html , body {
    padding: 0;
    margin: 0;
}

.box-list{
    margin-top: 100px;
    width: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px blue;
    padding: 50px 10px 30px 10px;
}

.btn-close{
    width: 5px;
    opacity: 0.1;
    padding: 0 30px;
}

.btn-close:hover{
    opacity: none;
}

